h2 {
    text-align: center;
    padding: 1rem;
    color: darken($secondary-color, 25%);
}

%main-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 3rem; 
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    width: 100%;
    padding: 2rem;

    .grid-image img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
        justify-items: center;
    }
}

.grid-layout {
    @extend %main-layout;
    background-color: $secondary-color;
}